body {
    background-color: rgba(6, 27, 35, 1);
    font-family: 'Quicksand';
}

.kedelai{
    color: rgba(54, 211, 154, 1);
    margin-left: 100px; 
    margin-top: 30px;
}

.rectangle1 {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 0px 0px 25px;
    background-color: rgba(54, 211, 154, 1);
    height: 70px;
    width: 210px;
}

.home1 {
    height: 35px;
    margin-left: 50px;
    margin-top: 15px;
    padding: 0;
}

.user1 {
    height: 35px;
    margin-left: 50px;
    margin-top: 15px;
    padding: 0;
}

.title {
    margin-left: 100px;
    margin-top: 200px;
    font-size: 40px;
    font-weight: bolder;
    line-height: 200%;
    min-height: 135px;
    width: 755px;
}

.title-text {
    color: white;
    margin-left: 100px;
    font-weight: 100;
    width: 600px;
}

.rectangle2 {
    border-radius: 25px 25px 25px 25px;
    background-color: rgba(54, 211, 154, 1);
    height: 70px;
    width: 210px;
}
