@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap);

.kedelai{
    color: rgba(54, 211, 154, 1);
    margin-left: 100px; 
}

.rectangle1 {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 0px 0px 25px;
    background-color: rgba(54, 211, 154, 1);
    height: calc(2.5rem + 2.2vw);
    width: calc(2rem + 17vw);
}
@media (min-width: 1000px) {
    .rectangle1 {
      height: 70px;
      width: 200px;
    }
}

.home1 {
    height: 35px;
    margin-left: 50px;
    margin-top: 15px;
    padding: 0;
}

.user1 {
    height: 35px;
    margin-left: 50px;
    margin-top: 15px;
    padding: 0;
}

.title1 {
    color: white;
    margin-left: 100px;
    margin-top: 200px;
    width: 755px;
}

.title-text {
    color: white;
    margin-left: 100px;
    text-align: justify;
    text-justify: inter-word;
}

/* .btn {
    margin-left: 100px;
    font-weight: bolder;
    background-color: rgba(54, 211, 154, 1);
    height: 70px;
    width: 210px;
} */
