@import "./app.scss";

.kedelai1 {
    margin-top: 20px;
    position: relative;
    color: rgb(54, 211, 154);
    margin-left: calc(10px + 5vw);
}

.rectangle1 {
    position: relative;
    border-radius: 0px 0px 0px 25px;
    background-color: rgb(54, 211, 154);
    height: calc(2.5rem + 2.2vw);
    width: calc(5.5rem + 17vw);
}
@media (min-width: 1000px) {
    .rectangle1 {
        height: 60px;
        width: 250px;
    }
}

.home1 {
    position: relative;
    height: calc(1.1rem + 0.8vw);
    margin-top: 15px;
    z-index: 1;
}
@media (min-width: 1000px) {
    .home1 {
        height: 25px;
    }
}

.drop1 {
    position: relative;
    height: calc(1.1rem + 0.8vw);
    margin-top: 10px;
    z-index: 1;
}
@media (min-width: 1000px) {
    .drop1 {
        height: 25px;
    }
}

.dropdown-menu {
    background-color: rgba(13, 168, 111, 1);
    margin-top: 80px;
    margin-left: 80px;
    width: 300px;
    height: 800px;
}

a, a:link, a:visited {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

li {
    margin-left: 30px; 
    margin-top: 10px;
    color:white;
    margin-bottom: 30px;
}

.aVisit {
    background: rgba(6, 27, 35, 1);
    background-clip: padding-box;
}

.aPadd {
    padding-left: calc(0.35em + 0.75vw);
    padding-right: calc(0.35em + 0.75vw);
    margin-left: 10px;
}